@import "main.less";
/*stars*/
@import "less/components/stars-active.less";
/*author*/
@import "less/components/author.less";
/*btn-blue*/
@import "less/components/btn-blue.less";
/*btn-red*/
@import "less/components/btn-red.less";
/*btn-delete*/
@import "components/btn-delete.less";
/*btn-green*/
@import "less/components/btn-green.less";
/*btn-gray*/
@import "less/components/btn-gray.less";
/*btn-select-order*/
@import "less/components/btn-select-order.less";
/*status*/
@import "less/components/content-status.less";
/*error-complaint*/
@import "less/components/alerts.less";
/*rate*/
@import "less/components/rate.less";
/*tooltip*/
@import "less/components/tooltip.less";
/*checkbox*/
@import "less/components/checkbox.less";
/*pop-up-info*/
@import "less/components/pop-up-info.less";
/*message*/
@import "less/components/message.less";
/*select*/
@import "less/components/select.less";
/*content-description*/
@import "less/components/content-description.less";

/*icon*/
.i-offline {
    background-image: url(../img/interface/offline.png);
    width: 12px;
    height: 12px;
}
.i_doc {
    background-image: url(../img/interface/doc.png);
    width: 26px;
    height: 30px;
    vertical-align: middle;
    margin-left: 25px;
}
.i_download {
    background-image: url(../img/interface/download.png);
    width: 20px;
    height: 23px;
    vertical-align: top;
}



/*content*/
.content {
    position: relative;
}
@media(max-width: 992px){
    .content-center{
        margin-top: 60px;
    }
}
.content-center-description {
    font-size: 24px;
    font-family: "OpenSansRegular";
    margin-bottom: 30px;
}
/*order-name*/
/*order-name-description*/

/*offers-list*/
@import "components/offers-list.less";

