@import "main.less";
/*content*/
/*btn-greey*/
@import "components/btn-green.less";
/*btn-add-foto*/
@import "components/btn-add-foto.less";
/*btn-delete*/
@import "components/btn-delete.less";
/*btn-blue*/
@import "components/btn-blue.less";
/*btn-gray*/
@import "components/btn-gray.less";
/*top-menu*/
@import "components/top-menu.less";
/*checkbox*/
@import "components/checkbox.less";
/*select*/
@import "less/components/select.less";
/*notification-without-orders*/
.content-center {
    width: 100%;
    display: block;
    .content-full-width {
        padding: 0;
    }
    &-name {
        font-size: 14px;
        font-family: "OpenSansRegular";
    }
}
.content-payment-services-info {
    background-color: #f5f5f5;
    margin: 30px;
    padding: 10px 20px;
    &-item {
        display: inline-block;
        width: 50%;
        vertical-align: middle;
        text-align: left;
        &-text {
            font-size: 14px;
            font-family: "OpenSansRegular";
            color: #b0b0b0;
            &:last-child {
                margin: 0;
            }
        }
        &-text-big {
            font-size: 14px;
            font-family: "OpenSansSemibold";
            color: #b0b0b0;
        }
        &-value {
            font-size: 20px;
            color: #444444;
        }
    }
    &-item__left {
        text-align: center;
    }
    &-item__right {
        position: relative;
        padding-left: 30px;
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            border-left: 1px solid #e6e6e6;
        }
    }
}
.content-payment-services-select {
    
}
.select2-container {
    width: 100% !important;
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
    background-color: #ececec;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    border-left: 1px solid #ececec;
    width: 35px;
    height: 32px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 32px;
    color: #999999;
}
.select2-selection select2-selection--single {
    border-radius: 2px;
    font-size: 14px;
    font-family: "OpenSansRegular";
    height: 34px;
}
.select2-container--default .select2-selection--single {
    border-radius: 2px;
    font-size: 14px;
    font-family: "OpenSansRegular";
    height: 34px;
    border-color: #ececec;
}
.img-flag {
    margin-bottom: 3px;
}