  
.bonus{
    display: inline-block;
    vertical-align: top;
    margin: 6px 0 0 10px;
    font-size: 20px;
    font-family: "OpenSansExtrabold";
    color: #fff;
    position: relative;
    z-index: 2;
    vertical-align: top;
    .i_sun{
        background-image: url(../img/interface/sun.png);
        width: 31px;
        height: 29px;
        position: absolute;
        top: 0;
        left: -3px;
        z-index: -1;
    }  
}