.content-sitebar-calendar{
    background-color: #fff;
    padding: 0px;
    border: 1px solid #e1e1e1;
    margin-bottom: 25px;
    overflow: hidden;
    .content-sitebar-calendar-text-top{
        background-color: #fff;
        position: relative;
        z-index: 10;
        overflow: hidden;
    }
    span.btn-toggle-calendar{
        display: none;
        color: #4786c8;
        font-size: 50px;
        line-height: 1;
        position: absolute;
        top: 0;
        right: 15px;
    }
    #calendar.calendar-open{
        margin-top: 0;
    }
    .today-info-block{
        position: absolute;
        max-width: 178px;
        top: -81px;
        left: 45px;
        min-width: 170px;
        text-align: left;
    }
    .today-info-block-value{
        background-color: #4786c8;
        text-align: center;
        width: 140px;
        padding: 9px 0;
    }
    .today-info-block-value span{
        color: #ffffff;
        font-size: 13px;
        line-height: 22px;
        
    }
    .today-info-block-content{
        background-color: #fff;
        padding: 10px;
        border: 1px solid #d7dcde;
        border-radius: 2px;
        box-shadow: 10px 7px 7px 0px rgba(0, 0, 0, .2);
    }
    .today-info-block_tr:before{
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        top: 85px;
        left: -23px;
        border: 12px solid transparent;	
        border-right: 12px solid #d7dcde;
    }
    .today-info-block_tr:after{
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: 85px;
        left: -22px;
        border: 12px solid transparent;
        border-right: 12px solid #fff;
        
    }
    .today-info-block-content-number{
        font-size: 13px; 
        color: #444444;
        line-height: 24px;
    }
    .today-info-block-content-name{
        font: 600 13px / 24px OpenSans; 
        font-weight: 600;
        color: #444444;
    }
    .today-info-block-content-theme{
        font: 400 13px / 13px OpenSans;
        color: #b0b0b0;
        line-height: 13px;
        width: 90%;
    }
}
#calendar {
    width: 100%;
    line-height: 18px;
    font-size: 12px;
    text-align: center;
    thead{
    background-color: #f5f5f5;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    }
    
    thead td{
        color: #b0b0b0;
    }
    .fa{
        color: #4786c8;
        font-size: 32px;
    }
    thead tr:last-child {
        font-size: small;
        color: rgb(85, 85, 85);
        height: 30px;
    }
    tbody tr{
        height: 35px;
    }
    thead tr:nth-child(1) td:nth-child(2) {
        font-size: 12px;
        line-height: 70px;
        color: #004444;
    }
    thead tr:nth-child(1) td:nth-child(1):hover, #calendar thead tr:nth-child(1) td:nth-child(3):hover {
        cursor: pointer;
    }
    tbody td:nth-child(n+6), #calendar .holiday {
        color: #a3a3a3;
    }
    tbody td {
        color: rgb(44, 86, 122);
    }
    tbody td.today{
        color: #fff;
        position: relative;
        z-index: 5;
        cursor: pointer;
    }
    .content-sitebar-calendar{
        padding: 0;
    }
    .today:before {
        content: '';
        background: #ffa8a8;
        border-radius: 100px;
        color: #fff;
        position: absolute;
        z-index: -1;
        width: 22px;
        height: 22px;
        left: 8px;
        top: 5px;
    }
    
    
}
@media(max-width: 768px){
    div.content-sitebar-calendar{
        display: block;
        width: 100%;   
    }
    .content-sitebar-calendar-text-top{
        padding: 13px 0 13px 15px;
    }
    .content-sitebar-user-info-text-bottom:last-child{
        margin-bottom: 0;
    }
    p.content-sitebar-calendar-text-top .btn-toggle-calendar{
        display: inline-block;
    }
    #calendar{
        margin-top: -311px;
    }
    .content-sitebar-banner{
        
    }
}
@media(max-width: 992px){
    .content-sitebar-calendar{
        width: 50%;
        display: inline-block;
        vertical-align: top;
    }
    #calendar .today:before{
        left: 23px;
    }
}