.i_sun{
    background-image: url(../img/interface/sun.png);
    width: 31px;
    height: 29px;
    position: absolute;
    top: 0;
    left: -3px;
    z-index: -1;
}
.content-form-orders-special-offer{
    background-color: #f3f8ff;
    padding: 20px;
    margin-top: 20px;
    position: relative;
    .content-form-orders-special-offer-inner{
        background-color: #fff;
        padding: 15px 30px;
        [type=checkbox]{
            width: 20px;
            height: 20px;
            display: inline-block;
            background: #d7dcde;
            border-radius: 2px;
            cursor: pointer;
        }
        .checkbox {
            width: 20px;
            height: 20px;
            display: inline-block;
            background: #d7dcde;
            border-radius: 3px;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        .checkbox input[type=checkbox] {
            display: none;
        }
        .checkbox.checked {
            background: #a1c67a url(../img/interface/check.png) 50% no-repeat;
        }
        .content-form-orders-special-offer-inner-bonus{
            font-size: 20px;
            font-family: "OpenSansExtrabold";
            color: #fff;
            position: relative;
            z-index: 2;
            display: inline-block;
            vertical-align: top;
        }
        .content-form-orders-special-offer-inner-bonus,
        .content-form-orders-special-offer-inner-caption,
        .content-form-orders-special-offer-inner-question{
            display: inline-block;
            vertical-align: top;
            margin: 6px 0 0 10px;
        }
        .content-form-orders-special-offer-inner-caption{
            font-size: 18px;
            font-family: "OpenSansRegular";
            color: #444444;
        }
        .content-form-orders-special-offer-inner-question{
            font-size: 14px;
            font-family: "OpenSansRegular";
            margin: 10px 10% 0 10%;
            color: #87abd7;
            text-decoration: underline;
        }
        .content-form-orders-special-offer-inner-question:hover{
            text-decoration: none;
            cursor: pointer;
        }
        .content-form-orders-special-offer-inner-coast,
        .content-form-orders-special-offer-inner-caption,
        .content-form-orders-special-offer-inner-question:hover{
            color: #444444;
        }
        .content-form-orders-special-offer-inner-bottom-list{
            padding: 15px 0;
            font-size: 0;
            display: none;
        }
        .content-form-orders-special-offer-inner-bottom-img-item,
        .content-form-orders-special-offer-inner-bottom-text-item{
            display: inline-block;
            vertical-align: top;
        }
        .content-form-orders-special-offer-inner-bottom-img-item{
            width: 72%;
            padding-top: 5px;
        }
        .content-form-orders-special-offer-inner-bottom-text-item{
            width: 28%;
        }
        .content-form-orders-special-offer-inner-bottom-text-item span{
            font-size: 14px;
            font-family: "OpenSansRegular";
            line-height: 20px;
            color: #444444;
            display: block;
        }
        .content-form-orders-special-offer-inner-coast{
            font-size: 20px;
            font-weight: bold;
            display: inline-block;
            border-left: 1px solid #e6e6e6;
            position: absolute;
            right: 50px;
            top: 37px;
            padding: 5px 0px 5px 15px;
        }
        .content-form-orders-special-offer-inner-coast i{
            font-size: 18px;
            margin-left: 5px;
        }
        @media(max-width: 1120px){
            .content-form-orders-special-offer-inner-bottom-img-item,
            .content-form-orders-special-offer-inner-bottom-text-item{
                display: block;
                width: 100%;
            }
            .content-form-orders-special-offer-inner-bottom-img-item{
                padding: 0;
                margin-bottom: 10px;
                text-align: center;
            }
            .content-form-orders-special-offer-inner-bottom-img-item img{
                width: 100%;
            }
        }
    }
    @media(max-width: 665px){
        .content-form-orders-special-offer-inner{
            padding: 15px;
        }
        .content-form-orders-special-offer-inner .content-form-orders-special-offer-inner-caption{
            font-size: 16px;
        }
        .content-form-orders-special-offer-inner-caption{
            display: inline-block;
            width: 70%;
        }
        .content-form-orders-special-offer-inner .content-form-orders-special-offer-inner-coast{
            top: 70px;
            right: 25px;
            margin-top: -35px;
            padding: 21px 0px 21px 15px;
        } 
        .content-form-orders-special-offer-inner .content-form-orders-special-offer-inner-question{
            margin-left: 65px;
        }
    }
    
}