.tooltip-text{
    background-color: #fff;
    padding: 15px 18px;
    border: 2px solid #d7dcde;
    border-radius: 12px;
    position: absolute;
    z-index: 15;
    min-width: 221px;
    left: 100%;
    top: 10px;
    margin: -44px 0 0 10px;
    display: none;
    box-shadow: 6px 7px 0 0 rgba(212, 212, 212, 0.5);
    p{
        font-size: 13px;
        font-family: "OpenSansRegular";
        color: #444444;
    }
}
.tooltip-text:after{
    content: "";
    position: absolute;
    background-image: url(../img/interface/arrow-tooltip.png);
    width: 11px;
    height: 23px;
    z-index: 2;
    left: -11px;
    top: 30px;
}
@media(max-width: 1010px){
    .tooltip-text{
        top: 72px;
        right: 100%;
        left: inherit;
        margin-right: -173px;
    }
    .tooltip-text:after{
        content: "";
        top: -17px;
        left: 50%;
        transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
    }
    .originality:after{
        margin-left: -5px;
    }
    .plagiarism:after{
        content: "";
        margin-left: 43px;
        
    }
    
}